In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# DB 정보
DATABASE_URL = "postgresql+psycopg2://postgres:비밀번호@localhost:<>/<>"

# 엔진 만들기
engine = create_engine(DATABASE_URL)

In [2]:
# ✅ [3] 크롤링한 데이터 준비 (예시 DataFrame)
job_postings_data = pd.DataFrame({
    'company_name': ['삼성전자', 'LG전자'],
    'company_type': ['대기업', '대기업'],
    'main_job': ['반도체', '가전'],
    'detail_job': ['공정 엔지니어', 'R&D'],
    'location': ['수원', '서울'],
    'qualification': ['학사 이상', '학사 이상'],
    'process': ['서류-면접-최종', '서류-코딩-면접']
})

# 확인
job_postings_data.head()

,company_name,company_type,main_job,detail_job,location,qualification,process
0,삼성전자,대기업,반도체,공정 엔지니어,수원,학사 이상,서류-면접-최종
1,LG전자,대기업,가전,R&D,서울,학사 이상,서류-코딩-면접

In [3]:
# ✅ [4] job_postings 테이블에 데이터 삽입
job_postings_data.to_sql('job_postings', engine, if_exists='append', index=False)
print("✅ job_postings 삽입 완료!")

✅ job_postings 삽입 완료!

In [4]:
# ✅ [5] applicants 데이터 예시
applicants_data = pd.DataFrame({
    'company': ['삼성전자'],
    'division': ['DS부문'],
    'job_title': ['반도체공정기술'],
    'apply_term': ['2024 상반기'],
    'university': ['홍익대학교'],
    'major': ['화학공학과'],
    'gpa': [4.39],
    'gpa_scale': [4.5],
    'toeic': [905],
    'opic': ['IH'],
    'toeic_speaking': [None],
    'work_experience': [None]
})

In [5]:
applicants_data.to_sql('applicants', engine, if_exists='append', index=False)
print("✅ applicants 삽입 완료!")

✅ applicants 삽입 완료!

In [8]:
# ✅ [6] certifications 데이터 예시
# 우선 applicants에 들어간 id 확인
with engine.connect() as conn:
    result = conn.execute(text("SELECT id FROM applicants ORDER BY id DESC LIMIT 1"))
    applicant_id = result.scalar()
    print(f"✅ 최근 applicants id: {applicant_id}")

# certifications 데이터
certifications_data = pd.DataFrame({
    'applicant_id': [applicant_id, applicant_id, applicant_id],
    'certification_name': ['SQLD', '리눅스마스터 2급', '정보처리기사']
})

✅ 최근 applicants id: 1

In [9]:
certifications_data.to_sql('certifications', engine, if_exists='append', index=False)
print("✅ certifications 삽입 완료!")

✅ certifications 삽입 완료!

In [11]:
# ✅ [7] 결과 조회 (확인용)
pd.read_sql("SELECT * FROM job_postings;", engine)

,id,company_name,company_type,main_job,detail_job,location,qualification,process,created_at
0,1,삼성전자,대기업,반도체 공정,회로 설계,수원,"학사 이상, 전공 무관",서류 - 면접 - 최종,2025-05-08 11:04:51.605152
1,2,삼성전자,대기업,반도체 공정,회로 설계,수원,"학사 이상, 전공 무관",서류 - 면접 - 최종,2025-05-08 11:05:35.465879
2,3,삼성전자,대기업,반도체,공정 엔지니어,수원,학사 이상,서류-면접-최종,2025-05-08 11:26:08.031186
3,4,LG전자,대기업,가전,R&D,서울,학사 이상,서류-코딩-면접,2025-05-08 11:26:08.031186

In [12]:
pd.read_sql("SELECT * FROM applicants;", engine)

,id,company,division,job_title,apply_term,university,major,gpa,gpa_scale,toeic,opic,toeic_speaking,work_experience
0,1,삼성전자,DS부문,반도체공정기술,2024 상반기,홍익대학교,화학공학과,4.39,4.5,905,IH,None,None

In [13]:
pd.read_sql("SELECT * FROM certifications;", engine)

   id  applicant_id certification_name
0   1             1               SQLD
1   2             1          리눅스마스터 2급
2   3             1             정보처리기사